@media (max-width:959px){
	/*.navbar{
		margin-top: 10px;
		line-height: 3;
		font-size: 15px;
    	font-weight: 800;
	}

	.navbar a {
		display: none;
	}

	.checkbtn{
		display: block;
		float: right;
		line-height: 35px;
	}

	.header{
		display: flow;
	}

	.header-bar{
		display: flex;
	}*/

	.navbar .links{
		display: none;
	}

	.navbar .toggle_btn{
		display: block;
	}

	.dropdown_menu{
		display: block;
	}
}

/* Phone */
@media (max-width:766px){
	/*.sections{
		font-size: 20px;
	}

	.section-title{
		margin-top: 23%;
	}*/

	.dropdown_menu{
		left: 2rem;
		width: unset;
	}
}

/* Laptop */
@media (min-width:960px) and (max-width:1919px){
	.navbar a {
		display: unset;
	}

	.header{
		display: flex;
	}

	.section-title{
		margin-top: 23%;
	}
}